progress-bar {
  display: flex;
  max-width: 300px;
  margin-bottom: 10px;
}

progress-bar::shadow #progress {
  background: hsl(20, 80%, 60%);
}

progress-bar::shadow #progress-wrap {
  background: hsl(20, 0%, 40%);
}

progress-bar::shadow output {
  color: hsl(300, 55%, 25%);
  font-weight: 700;
  font-size: 1.2rem;
  animation-duration: 1s;
}
